h1#h01 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	background-color: #0099cc;
	text-align: center;
	border: 2px solid #66CCFF;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.nav ul {
	color : #5a5a5a;
    font-size : 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    border:1px solid black;
    padding:12px;
    margin:auto;

}

.nav a {
	color : #000000;
    font-size : 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    border:1px solid black;
}

.small_images img {
	margin-left: auto;
    margin-right: auto;

    border:1px solid black;
}

a#google_link {
	a:hover {
		color:#ff0000; background-color:transparent; text-decoration:underline
	};
}

img#img01 {
	margin: auto;
}