.cities {
	background-color: black;
	color: white;
	padding: 20px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

h1#h01 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	background-color: #0099cc;
	text-align: center;
	border: 2px solid #66CCFF;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
caption {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
}

.nav ul {
	color : #5a5a5a;
    font-size : 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    border:1px solid black;
    padding:12px;
    margin:auto;

}

.nav a {
	color : #000000;
    font-size : 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    border:1px solid black;
}

.small_images img {
	margin-left: auto;
    margin-right: auto;

    border:1px solid black;
}

a#google_link {
	a:hover {
		color:#ff0000; background-color:transparent; text-decoration:underline
	};
}

img#img01 {
	margin: auto;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

ul#menu li a:hover {
    background-color: #0099cc;
}